<!DOCTYPE html>
<html>
    <head>
            <title>Random Generator</title>
            <link type="text/css" rel="stylesheet" href="../css/main.css" />
    </head>
    <body>
      <div id='Title'>
        <h1>Random Generators</h1>
      </div>
      <ul class='navgrey'>
        <li><a href=index.html>Home</a></li>
        <li><a href=NumberGenerator.html>Random Number</a></li>
        <li><a href=CoinToss.html><strong>Coin Toss</strong></a></li>
        <li><a href=DiceRoll.html>Dice Roll</a></li>
      </ul>
        <br><br>
        <p><strong>Hit the 'Toss!' button to flip the coin. Heads or tails, which will it be?</strong></p>
        <img id='Coin' src='../Images/Coin.jpg' align="center">
    </body>
</html>
