<!DOCTYPE html>
<html>
    <head>
            <title>Random Generator</title>
            <link type="text/css" rel="stylesheet" href="../css/main.css" />
    </head>
    <body>
      <div id='Title'>
        <h1>Random Generators</h1>
      </div>
      <ul class='navgrey'>
        <li><a href=index.html>Home</a></li>
        <li><a href=NumberGenerator.html><strong>Random Number</strong></a></li>
        <li><a href=CoinToss.html>Coin Toss</a></li>
        <li><a href=DiceRoll.html>Dice Roll</a></li>
      </ul>
        <br><br>
        <p><strong>Generate a random number in a range of your choice. Simply input the range and click 'Generate!'.</strong></p>
        <div id="randomNumberLimits">
          <form method="post" action="/randomnumber" name="minMax">
            <label for="lowerLimit">Lower limit:</label><input type="text" name="lowerLimit" value=""><br><br>
            <label for="upperLimit">Upper limit:</label><input type="text" name="upperLimit" value=""><br><br>
            <input type="submit" value ="Generate!">
          </form>
        </div>
        {% if number %}
        <p>Random Number = {{ number }}</p>
        {% else %}
        <p></p>
        {% endif %}
        <br><br>
        <img id='Numbers' src='../Images/Numbers.png' align="center">
    </body>
</html>
