<!DOCTYPE html>
<html>
    <head>
            <title>Random Generator</title>
            <link type="text/css" rel="stylesheet" href="main.css" />
    </head>
    <body>
      <div id='Title'>
        <h1>Random Generators</h1>
      </div>
      <ul class='navgrey'>
        <li><a href=index.html>Home</a></li>
        <li><a href=NumberGenerator.html><strong>Random Number</strong></a></li>
        <li><a href=CoinToss.html>Coin Toss</a></li>
        <li><a href=DiceRoll.html>Dice Roll</a></li>
      </ul>
        <br><br>
        <p><strong>Generate a random number in a range of your choice. Simply input the range and click 'Generate!'.</strong></p>
        <img id='Numbers' src='./Images/Numbers.png' align="center">
    </body>
</html>
