#Title {
  background-color:#043789;
  background-size: cover;
  font-family: "Courier New";
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
}
h1 {
  font-size: 30px;
  color: #ffffff;
  padding: 10px;
}
ul.navgrey {
  background-color: #e8f0fe;
  margin: 0;
  text-align: center;
}
ul.navgrey a {
  color: #043789;
  text-decoration: none;
  display: block;
  font-size: 1.5vw;
  font-family: "Courier New";
}
ul.navgrey li {
  display: inline-block;
  padding-right: 2vw;
  padding-left: 2vw;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
}
ul.navgrey a:hover {
  font-weight: bold;
  margin: 0px;
}
body {
  margin: 0px;
  font-family: sans-serif;
  height: 100%;
  color: #3b3b3b;
  text-align: center;
  font-size: 1.2vw;
}
.container {
  padding-top: 1.5vw;
  padding-bottom: 20px;
  padding-left: 18vw;
  padding-right: 18vw;
  text-align: left;
}
#Dice {
  width: 25vw;
}
#Numbers {
  width: 30vw;
}
#Coin {
  width: 10vw;
}
#Heads {
  width: 10vw;
}
#Tails {
  width: 10vw;
}
.button {
  font: bold;
  font-family: "Courier New";
  text-decoration: none;
  background-color: #043789;
  color: #ffffff;
  text-align: center;
  font-size: 2vw;
  padding: 5px;
  border-radius: 10px;
}
#result {
  font-size: 6vw;
  font-weight: bold;
  color: #043789;
}
